# ignora tudo
*

# mas não ignora diretórios (senão não consegue descer até os arquivos)
!*/

# permite Terraform
!*.tf

# Policy IAM utilizada pelo Terraform
!/policies/load-balancer-controller.json

# permite YAML
!*.yaml
!*.yml

# (opcional) mantém arquivos básicos do repo
!.gitignore
!README.md
